<div class="home-container" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">
  <h2>What is?</h2>
  <img src="../../../assets/rick-morty.jpg" alt="Rick and morty">

  <p>Rick and Morty is an American adult animated science fiction sitcom created by Justin Roiland and Dan Harmon for
    Cartoon Network's late-night programming block Adult Swim. The series follows the misadventures of cynical mad
    scientist Rick Sanchez and his good-hearted but fretful grandson Morty Smith, who split their time between domestic
    life and interdimensional adventures.</p>
  <p>
    Roiland voices the eponymous characters, with Chris Parnell, Spencer Grammer and Sarah Chalke voicing the rest of
    the family. The series originated from an animated short parody film of Back to the Future, created by Roiland for
    Channel 101, a short film festival co-founded by Harmon. The series has been acclaimed by critics for its
    originality, creativity and humor.
  </p>
  <p>
    The series has been picked up for an additional seventy episodes over an unspecified number of seasons. The fourth
    season premiered on November 10, 2019, and consists of ten episodes.
  </p>
</div>
