<div class="container-full-height" fxLayout="column" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="0 1 auto">
    <mat-paginator [length]="info ? info.count: 0"
                   [pageSize]="20"
                   [disabled]="loading"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   [pageSizeOptions]="[20]">
    </mat-paginator>
  </div>
  <div class="padded-x-10" fxLayout="row wrap" fxLayoutGap="3%" fxFlex>
    <app-loading-spinner *ngIf="loading; else NoLoadingTmpl" fxFlex="100%" label="Loading Characters"></app-loading-spinner>
    <ng-template #NoLoadingTmpl>
      <ng-container *ngFor="let character of characters">
        <div fxFlex="0 1 calc(20%-3%)">
          <app-character-item [character]="character" [showImage]="true"></app-character-item>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>
