<mat-toolbar fxLayout="row" fxLayoutGap="1em">
  <a mat-icon-button href="https://github.com/ArmandoPerdomo" matTooltip="Made with love from Armando Perdomo">
    <mat-icon>favorite</mat-icon>
  </a>
  <span class="cursor-pointer" routerLink="home">Rick & Morty App</span>
  <span fxFlex="1 1 auto"></span>
  <button mat-button routerLink="characters-list">
    Characters
    <mat-icon>accessibility_new</mat-icon>
  </button>
  <button mat-button routerLink="episodes-list">
    Episodes
    <mat-icon>tv</mat-icon>
  </button>
  <button mat-button routerLink="register">
    Register
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
